.movie-results-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-results-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.not-found-text {
  text-align: center;
}


